# Python / Pytest cache
__pycache__/
.pytest_cache/

# Environment variables & virtual environment
.env
.venv/

# IDE settings
.idea/

# Local test artifacts & screenshots
screenshots/
allure-results/
allure-report/
auth.json

# Playwright authentication state
auth-*.json